<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Edit ${team.name} | Helms Deep`}) %>
    <link rel="stylesheet" href="/styles/team-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Edit a Team</h2>
        <h4><i>Helping defenses anticipate deep balls, one snap at a time</i></h4>
    </section>

    <form method="POST" action="/teams/<%= team._id %>?_method=PUT">
        <!-- Name input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= team.name %>" required>
        <br>
        <!-- Mascott input -->
        <label for="mascott">Mascott:</label>
        <input type="text" id="mascott" name="mascott" value="<%= team.mascott %>" required>
        <br>
        <!-- City input -->
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="<%= team.city %>" required>
        <br>
        <!-- State input -->
        <label for="state">State or province:</label>
        <select id="state" name="state">
            <optgroup label="United States">
                <!-- Loop through U.S. states to create options -->
                <% usStates.forEach(state => { %>
                    <option value=<%= state.code %> <%= (team.state === state.code) ? 'selected' : '' %>><%= state.name %></option>
                <% }) %>
            </optgroup>
            <optgroup label="Canada">
                <!-- Loop through Canadian provinces to create options -->
                <% canadaProvinces.forEach(province => { %>
                    <option value=<%= province.code %> <%= (team.state === province.code) ? 'selected' : '' %>><%= province.name %></option>
                <% }) %>
            </optgroup>
        </select>
        <br>
        <!-- Photo input -->
        <label for="photo">Photo (URL):</label>
        <input type="text" id="photo" name="photo" value="<%= team.photo %>" required>
        <br>
        <!-- Submit button -->
        <button class="btn" type="submit">Update Team</button>
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
