<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Helms Deep'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Associate formations with deep balls.</h2>
            <a href="/teams" class="btn">Try Now!</a>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p>Welcome to Helms Deep: your premier solution for defensive personnel seeking an edge in the strategic world of football. Helms Deep is a cutting-edge tool designed to empower defensive teams by providing insights into opposing offensive formations, with a specific focus on deep ball plays.
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        <section class="featured-teams">
            <h2>Featured Teams</h2>
            <ul class="team-grid">
                <% for (let team of teams) { %>
                <li>
                    <figure>
                        <img src="<%= team.photo %>" alt="mascott">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= team.name %></h3>
                            <p>City: <%= team.city %></p>
                            <p>State: <%= team.state %></p>
                        </div>
                        <a href="/teams/<%= team._id %>" class="btn">Learn More</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>