<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Plays | Helms Deep'}) %>
    <link rel="stylesheet" href="/styles/team-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="listings">
            <ul>
                <% for (let play of plays) { %>
                <li>
                    <h4><%= play._id %> - <%= play.playFormation %></h4>
                    <p>Quarter: <%= play.playQuarter %></p>
                    <a href="/plays/<%= play._id %>">See More</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
